*.jnl
*.log
*.eps
*.mat
*-macroexp.mod
*.asv
*_dynamic.m
*_set_auxiliary_variables.m
*_static.m
*_steadystate2.m
*.mexw64
*mex.c

*.fig
*-trim.png

checksum

DynamicSpatialModel.m
Results/subtightplot.m
